.bg-white{
	background-color: #5ea052 !important;
	margin-bottom: 0px !important;
	border-bottom: 5px solid #46843c !important;
    	color: #FFF !important;
}
.list-group-item{
	border-left: 0px !important;
    border-right: 0px !important;

}
.caixa-imagem{
    text-align: center;
    padding: 10px;
}

.player-name{
	height: 80px;
}
.cabecalhos{
    margin-bottom: 0px;
    background-color: #5ea052;
    color: #5d5d5d;
    border: 1px solid #dedede;
    border-bottom: 0px;
    height: 50px;
}
h3{
    font-size: 16px;
    font-weight: 800;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    color: #4e4e4e;
}
h2{
    margin-bottom: 0px;
    padding-left: 10px;
    color: #FFF;
    padding-top: 11px;
    font-size: 20px;
    border-radius: 5px;
}
h4{
    font-size: 30px;
    font-weight: 500;
    color: #5f5c5c;
}
.list-group-item{
    margin-bottom: 5px;
    border: 1px solid #f7f3f3;
    border-radius: 5px;
    line-height: 10px
}
.badge-primary{
    background-color: #FFF;
    color: #55a547;
    font-size: 25px;
}