.bg-white{
	    background-color: #55a547 !important;
}
.list-group-item{
	border-left: 0px !important;
    border-right: 0px !important;

}
.player-name{
	height: 70px;
}
h3{
	font-size: 18px;
    font-weight: 800;
}