<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.com/libraries/Chart.js">

		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="shortcut icon" href="caminhodoarquivo/favicon.ico" />
		<link rel="shortcut icon" href="{{p_photo}}" />
		<title>Campeonato: {{championship_name}} | The Football Facts</title>
	</head>
	<body style="background-color: #f9f9f9; font-family: roboto;">

		<!-- Menu superior -->
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-blue border-bottom box-shadow">
    		<h5 class="my-0 mr-md-auto font-weight-normal">The Football Facts</h5>
		     <nav class="my-2 my-md-0 mr-md-3">
		     	<a class="p-2 text-dark" href="#">Clubes</a>
		        <a class="p-2 text-dark" href="#">Jogadores</a>
		        <a class="p-2 text-dark" href="#">Campeonatos</a>
		        <a class="p-2 text-dark" href="#">Comprativo</a>
		     </nav>
    	</div>

		<div class="container-fluid" style="background-color: #fff; padding: 50px; border-bottom: 4px solid #efefef; height: 200px;">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-2 caixa-imagem">
					<img src="{{p_photo}}" style="width: 170px;">
				</div>
				<div class="col-4">
					<h1>{{player_name}}</h1>
					<p>Posição: {{player_position}}</p>
					<p>Club Atual: {{club_atual}}</p>
				</div>
				<div class="col-4">
					<p>Perna Principal: {{foot}}</p>
					<p>Idade: {{player_age}}</p>
					<p>Cidade/País: {{player_nacionality}}</p>
				</div>				
			</div>
		</div>
		<div class="container">
			<div style="border: 1px solid #f9f9f9; margin-top: 5%; margin-bottom: 2%;"></div>
			<div class="row">
				<div class="col-sm-3" >
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/goal.png" style="height: 100%; margin-top: 10%">
				  		</div>			
					  <div class="card-body">
					    <h3 class="card-title">Gols Marcados</h3>
					    <h4 class="card-text">{{goal_done}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/assistence.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Partidas Disputadas no Ano </h3>
					    <h4 class="card-text">{{disputed_matches}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/yellow-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Amarelos</h3>
					    <h4 class="card-text">{{yellow_cards}}</h4>
					  </div>
					</div>					
				</div>		
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/red-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Vermelhos</h3>
					    <h4 class="card-text">{{red_cards}}</h4>
					  </div>
					</div>					
				</div>					
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 5%; margin-bottom: 2%;"></div>			
			<div class="row">
			    <div class="col-sm">
			    	<div class="cabecalhos">
				    	<h2>Artilheiros do Cmapeonato</h2>		    	
				    </div>
			      	<ul class="list-group">
			     		{% for best_goals in best_goals %}
					  	<li class="list-group-item player-name">
						  		<div style="width: 20%;  height: 100%; float: left">
						  			<img src="/static/icon/player.png" style="height: 40px;">
						  		</div>
						  		<div style="width: 65%;  float: left">
							  		<h3>
							  			{{ best_goals.player }}
									</h3>
									<span>{{ best_goals.position }}</span>
									<span>{{ best_goals.club }}</span>
								</div>
								<span class="badge badge-primary badge-pill" style="width: 15%;">{{ best_goals.goals }}</span>							
					  	</li>
						{% endfor %}
					</ul>
			    </div>					
		    	<div class="col-sm">
		    		<div class="cabecalhos">
				    	<h2>Mais Cartões</h2>		    		
				    </div>
			      	<ul class="list-group">
			     		{% for more_violent in more_violent %}
					  	<li class="list-group-item player-name">
					  		<div style="width: 20%; height: 100%; float: left">
					  			<img src="/static/icon/player.png" style="height: 40px;">
					  		</div>
					  		<div style="width: 65%; float: left">
						  		<h3>
						  			{{ more_violent.player }}
								</h3>
								<span>{{ more_violent.position }}</span>
								<span>{{ more_violent.club }}</span>								
							</div>
							<span class="badge badge-primary badge-pill" style="width: 15%;">{{ more_violent.goals }}</span>
					  	</li>
						{% endfor %}
					</ul>
		   		</div>					
				<div class="col-sm">
			    	<div class="cabecalhos">
				    	<h2>Mais Jogaram</h2>		    	
				    </div>
			      	<ul class="list-group">
			     		{% for more_played in more_played %}
					  	<li class="list-group-item player-name">
						  		<div style="width: 20%; height: 100%; float: left">
						  			<img src="/static/icon/player.png" style="height: 40px;">
						  		</div>
						  		<div style="width: 65%; float: left">
							  		<h3>
							  			{{ more_played.player }}
									</h3>
									<span>{{ more_played.position }}</span>
								</div>
							<span class="badge badge-primary badge-pill" style="width: 15%;">{{ more_played.goals }}</span>							
					  	</li>
						{% endfor %}
					</ul>
			   	</div>
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 5%; margin-bottom: 2%;"></div>			
			<div class="row">
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>IDADE MÉDIA</h2>
			      	</div>
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{age_graph|safe}} style="max-height: 500px; " />
						</div>
					</div>						      	
				</div>
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>GOLS MÉDIOS</h2>
			      	</div>
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{goals_box|safe}} style="max-height: 500px; " />
						</div>
					</div>						      	
				</div>
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>Média de Titularidade</h2>
			      	</div>
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{titular_box|safe}} style="max-height: 500px; " />
						</div>
					</div>						      	
				</div>								
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 5%; margin-bottom: 2%;"></div>			
			<div class="row">
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>IDADE VS GOALS (CORRELAÇÃO)</h2>
			      	</div>						
				<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{cor_age_goals|safe}} style="max-height: 500px; " />
						</div>
					</div>	
				</div>
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>IDADE VS PARTIDADE JOGADAS (CORRELAÇÃO)</h2>
			      	</div>
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{cor_age_match_played|safe}} style="max-height: 500px; " />
						</div>
					</div>		
				</div>					
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 5%; margin-bottom: 2%;"></div>			
			<div class="row">
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>JOGADORES POR POSIÇÃO</h2>
			      	</div>						
				<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{position_player|safe}} style="max-height: 500px; " />
						</div>
					</div>	
				</div>
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>JOGADORES POR POSIÇÃO E TIME</h2>
			      	</div>						
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{position_player_club|safe}} style="max-height: 500px; " />
						</div>
					</div>	
				</div>				
			</div>			
			<div class="row">
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>JOGADORES POR POSIÇÃO</h2>
			      	</div>						
				<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{win_clubs|safe}} style="max-height: 500px; " />
						</div>
					</div>	
				</div>
			</div>		
			<div class="row">
				<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>CLUBES PARTICIPANTES</h2>
			      	</div>
			     	<ul class="list-group">
			      	{% for champ_clubs in champ_clubs %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
						<img src="{{champ_clubs.club_logo}}" style="height: 50px;">
							<a href="/club/{{champ_clubs.club_name}}" style="width: 85%"><p style="text-transform: uppercase;">{{ champ_clubs.club_name }}</p></a>
		 				</li>
						{% endfor %}
					</ul>
		   		</div>	
			</div>
			
		</div>

<div style=" margin-top: 2%; margin-bottom: 2%;"></div>					
		<div class="container-fluid" style="background-color: #5ea052 ; padding: 50px; border-top: 4px solid #efefef;  height: 280px;">
			<div class="row">
			</div>		
		<div style="border: 0.5px solid #a9a9a9; margin-top: 1%; margin-bottom: 1%;"></div>				
			<div class="row" style="text-align: center">
				<div  style="width: 100%; color: #FFF">
					The Football Facts - 2018
				</div>
			</div>
		</div>	
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	</body>
</html>