<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.com/libraries/Chart.js">

		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title>Clube {{club_name}}</title>
	</head>
	<body style="background-color: #f9f9f9; font-family: roboto;">

		<!-- Menu superior -->
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    		<span class="my-0 mr-md-auto font-weight-normal">The Football Facts</span>
		     <nav class="my-2 my-md-0 mr-md-3">
		     	<a class="p-2 text-dark" href="#">Clubes</a>
		        <a class="p-2 text-dark" href="#">Jogadores</a>
		        <a class="p-2 text-dark" href="#">Campeonatos</a>
		        <a class="p-2 text-dark" href="#">Comprativo</a>
		     </nav>
    	</div>

		<div class="container-fluid" style="background-color: #dedede; padding: 50px;">
			<div class="row">
				<div class="col-2 caixa-imagem">
					<img src="{{club_emblem}}" style="width: 150px;">
				</div>
				<div class="col-4">
					<h1>{{club_name}}</h1>
					<p>Data Fundação: {{club_fundation_Date}}</p>
					<p>Cidade/País: {{club_country}}</p>
				</div>
				<div class="col-4">
					<p>Título Principal: </p>
					<p>SCORE:</p>
					<p>SCORE:</p>
				</div>				
			</div>
		</div>
			<div class="container">
<div style="border: 1px solid #DEDEDE; margin-top: 2%; margin-bottom: 2%;"></div>
			<div class="row">
				<div class="dropdown">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Campeonato:
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Brasiilerão</a>
				    <a class="dropdown-item" href="#">Copa do Brasil</a>
				  </div>
				</div>		
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>

			<div class="row">
				<div class="col-sm-3" >
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/goal.png" style="height: 100%; margin-top: 10%">
				  		</div>			
					  <div class="card-body">
					    <h3 class="card-title">Gols Marcados</h3>
					    <h4 class="card-text">{{goal_done}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/assistence.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Assistencias </h3>
					    <h4 class="card-text">{{assistence}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/yellow-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Amarelos</h3>
					    <h4 class="card-text">{{yellow_cards}}</h4>
					  </div>
					</div>					
				</div>		
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/red-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Vermelhos</h3>
					    <h4 class="card-text">{{red_cards}}</h4>
					  </div>
					</div>					
				</div>					
			</div>
<div style="margin-top: 2%; margin-bottom: 2%;"></div>			
			<div class="row">
		    	<div class="col-sm">
		    		<div class="cabecalhos">
				    	<h2>Assistentes do Time</h2>		    		
				    </div>
			      	<ul class="list-group">
			     		{% for best_assistence in best_assistence %}
					  	<li class="list-group-item player-name">
					  		<div style="width: 20%; float: left">
					  			<img src="/static/icon/player.png" style="height: 40px;">
					  		</div>
					  		<div style="width: 70%  float: left">
						  		<h3>
						  			{{ best_assistence }}
								</h3>
							</div>
					  	</li>
						{% endfor %}
					</ul>
		   		</div>
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Artilheiros do Time</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for best_scores in best_scores %}
				  	<li class="list-group-item player-name">
					  		<div style="width: 20%; float: left">
					  			<img src="/static/icon/player.png" style="height: 40px;">
					  		</div>
					  		<div style="width: 70%  float: left">
						  		<h3>
						  			{{ best_scores }}
								</h3>
							</div>
				  	</li>
					{% endfor %}
				</ul>
		    </div>				
			<div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Mais Jogaram</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for more_played in more_played %}
				  	<li class="list-group-item player-name">
					  		<div style="width: 20%; float: left">
					  			<img src="/static/icon/player.png" style="height: 40px;">
					  		</div>
					  		<div style="width: 70%  float: left">
						  		<h3>
						  			{{ more_played }}
								</h3>
							</div>
				  	</li>
					{% endfor %}
				</ul>
		   		</div>
		  </div>
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>			
		  <div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>TOP Score</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for best_players in best_players %}
				  	<li class="list-group-item">{{ best_players }}</li>
					{% endfor %}
				</ul>
		    </div>
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Piores Score</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for worst_players in worst_players %}
				  	<li class="list-group-item">{{ worst_players }}</li>
					{% endfor %}
				</ul>
		    </div>		    
		  </div>
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>					  
		  <div class="row">
		    	<div class="col-sm" style="text-align: center">
		    		<div class="cabecalhos">
			      		<h2>Vitórias e Derrotas</h2>	
			      	</div>
			      	<div id="canvas-holder" style="width: 62%;text-align: center;margin-left: 20%;">		      		
				     	<canvas id="pie-chart" height="350"></canvas>	    		
				    </div>
		   		</div>
		    	<div class="col-sm">
		    		<div class="cabecalhos">
			      		<h2> Dentro e Fora de Casa</h2>		    		
			      	</div>

		    			<div class="card" style="width: 32%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
							<div style="text-align: center;">
			 	  				<img src="/static/icon/victory.png" style="height: 40px; margin-top: 10%">
				  			</div>							
					  		<div class="card-body">
					    		<h3 class="card-title">Rate Vitórias</h3>
					    		<h4 class="card-text">{{rate_win}}</h4>
					  		</div>
						</div>	


		    			<div class="card" style="width: 32%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
							<div style="text-align: center;">
			 	  				<img src="/static/icon/defeat.png" style="height: 40px; margin-top: 10%">
				  			</div>							
					  		<div class="card-body">
					    		<h3 class="card-title">Rate Derrotas</h3>
					    		<h4 class="card-text">{{rate_defeat}}</h4>
					  		</div>
						</div>	


		    			<div class="card" style="width: 32%; text-align: center;     margin-bottom: 15px;     margin-top: 15px; margin-right: 10px;     height: 180px;">
							<div style="text-align: center;">
			 	  				<img src="/static/icon/tie.png" style="height: 40px; margin-top: 10%">
				  			</div>							
					  		<div class="card-body">
					    		<h3 class="card-title">Rate Empates</h3>
					    		<h4 class="card-text">{{rate_tie}}</h4>
					  		</div>
						</div>	

		    		<div>
				     	<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
						    Vitórias Dentro
						    <span class="badge badge-primary badge-pill">{{club_n_win_in}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						     Vitórias Fora
						    <span class="badge badge-primary badge-pill">{{club_n_win_out}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Derrotas Dentro
						    <span class="badge badge-primary badge-pill">{{club_n_defeat_in}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Derrotas Fora
						    <span class="badge badge-primary badge-pill">{{club_n_defeat_out}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Empates Dentro
						    <span class="badge badge-primary badge-pill">{{club_n_tie_in}}</span>
						  </li>				 
						</ul>
					</div>
		   		</div>	    
		  </div>		  
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>					  
		  <div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>PRÓXIMOS JOGOS/Probabilidade de Ganho</h2>		    	
			    </div>
		      	<ul class="list-group">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>
		    </div>
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Score Por Area</h2>		    	
			    </div>
			    <div id="canvas-holder" style="width: 90%; margin-left: 5%">	
					<canvas id="bar-chart" width="800" height="450"></canvas>
				</div>
		    </div>		    
		  </div>	
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>				  
		  <div class="row">
		    <div class="col-sm">
			    <h2>Histórico de Confrontos Dentro</h2>		    	
		      	<ul class="list-group">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>
		    </div>
		    <div class="col-sm">
			    <h2>Histórico de Confrontos Fora</h2>		    	
		      	<ul class="list-group">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>
		    </div>		    
		  </div>		  	  
		</div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script type="text/javascript">
		new Chart(document.getElementById("pie-chart"), {
		    type: 'pie',
		    data: {
		      labels: ["Vitórias", "Derrotas", "Empates"],
		      datasets: [{
		        label: "Partidas (Unitario)",
		        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
		        data: [{{club_n_win}},{{club_n_defeat}},{{club_n_tie}}]
		      }]
		    },
		    options: {
		      title: {
		        display: true,
		        text: 'Cameponato Brasileiro de 2018'
		      }
		    }
		});
	</script>
	<script type="text/javascript">
	new Chart(document.getElementById("line-chart"), {
	  type: 'line',
	  data: {
	    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
	    datasets: [{ 
	        data: [86,114,106,106,107,111,133,221,783,2478],
	        label: "Africa",
	        borderColor: "#3e95cd",
	        fill: false
	      }, { 
	        data: [282,350,411,502,635,809,947,1402,3700,5267],
	        label: "Asia",
	        borderColor: "#8e5ea2",
	        fill: false
	      }, { 
	        data: [168,170,178,190,203,276,408,547,675,734],
	        label: "Europe",
	        borderColor: "#3cba9f",
	        fill: false
	      }, { 
	        data: [40,20,10,16,24,38,74,167,508,784],
	        label: "Latin America",
	        borderColor: "#e8c3b9",
	        fill: false
	      }, { 
	        data: [6,3,2,2,7,26,82,172,312,433],
	        label: "North America",
	        borderColor: "#c45850",
	        fill: false
	      }
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'World population per region (in millions)'
	    }
	  }
	});		
	</script>
	<script type="text/javascript">
		// Bar chart
		new Chart(document.getElementById("bar-chart"), {
		    type: 'bar',
		    data: {
		      labels: ["Forward", "Midfielder", "Defender", "Goalkeeper"],
		      datasets: [
		        {
		          label: "Dados Até a Última Rodada",
		          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
		          data: [{{score_forward}},{{score_midfielder}},{{score_defender}},{{score_goalkeeper}}
		          ]
		        }
		      ]
		    },
		    options: {
		      legend: { display: false },
		      title: {
		        display: true,
		        text: 'Dados Até a Última Rodada'
		      }
		    }
});
	</script>
	</body>
</html>