<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.com/libraries/Chart.js">
		<link rel="stylesheet" type="text/css" href="/static/css/styles-pagination.css">


		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="shortcut icon" href="{{club_emblem}}" />
    

    	<!--Scripts da paginação -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script src="/static/js/jquery.quick.pagination.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$("ul.pagination1").quickPagination({pageSize:"6"})
			$("ul.pagination2").quickPagination({pageSize:"6"});

		});
		</script>


		
		<title>Estatísticas e Informações do {{club_name}} | The Football Facts</title>

	</head>
	<body style="background-color: #f9f9f9; font-family: roboto;">

		<!-- Menu superior -->
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    		<span class="my-0 mr-md-auto font-weight-normal">The Football Facts</span>
		     <nav class="my-2 my-md-0 mr-md-3">
		     	<a class="p-2 text-dark" href="#">Clubes</a>
		        <a class="p-2 text-dark" href="#">Jogadores</a>
		        <a class="p-2 text-dark" href="#">Campeonatos</a>
		        <a class="p-2 text-dark" href="#">Comprativo</a>
		     </nav>
    	</div>

		<div class="container-fluid" style="background-color: #fff; padding: 30px; border-bottom: 4px solid #efefef; height: 235px; background-image: url('/static/utils/primeiro-teste.png');">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-2" style="text-align: center">
					<img src="{{club_emblem}}">
				</div>
				<div class="col-3">
					<h1>{{club_name}}</h1>
					<span style="padding: 2px;"><img src="/static/utils/facebook.png" style="height: 12%;"></span>
					<span style="padding: 2px;"><img src="/static/utils/instagram.png" style="height: 12%;"></span>
					<span style="padding: 2px;"><img src="/static/utils/twitter.png" style="height: 12%;"></span>

				</div>
				<div class="col-3">
					<p class="line-divider"><span class="bold-title">Site Oficial:</span> http://www.sitedotime.com.br</p>
					<p class="line-divider"><span class="bold-title">Fundação:</span> 10/10/1909</p>
					<p class="line-divider"><span class="bold-title">Principal Título:</span> Brasileirão de 2008</p>
					<p class="line-divider last-divider"><span class="bold-title">Cidade/País: </span> {{club_country}}</p>

			</div>				
			</div>
		</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 3%; "></div>
			<div class="container">
			<div class="row">
				<div class="col-sm" style="text-align: center">
					<img src="/static/utils/banner-720x90.png">
				</div>
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 3%; margin-bottom: 2%;"></div>

			<div class="row">
				<div class="col-sm-3" >
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/goal.png" style="height: 100%; margin-top: 10%">
				  		</div>			
					  <div class="card-body">
					    <h3 class="card-title">Gols Marcados</h3>
					    <h4 class="card-text">{{goal_done}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/assistence.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Partidas Disputadas no Ano </h3>
					    <h4 class="card-text">{{disputed_matches}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/yellow-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Amarelos</h3>
					    <h4 class="card-text">{{yellow_cards}}</h4>
					  </div>
					</div>					
				</div>		
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/red-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Vermelhos</h3>
					    <h4 class="card-text">{{red_cards}}</h4>
					  </div>
					</div>					
				</div>					
			</div>
<div style="margin-top: 2%; margin-bottom: 2%;"></div>			
			<div class="row">
				<div class="col-sm">
					<div class="cabecalhos">
			      		<h2>Formação Ideal: {{best_formation}}</h2>
			      	</div>	
			      	<div class="list-group-item" style="padding: 20px; background-color: #fff; text-align: center;">				
			      		<img src="/static/tatic/{{best_formation}}.jpg" style="width: 77%">
			      	</div>
				</div>
				<div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Jogadores da Formação</h2>		    	
			    </div>
			    <div style="height: 100px">
			    <ul class="list-group pagination1">
		     		
		      		{% for player_formation in player_formation %}
				  	<li class="list-group-item player-name">
					  		<div style="width: 20%;  height: 100%; float: left">
					  			<img src="{{ player_formation.photo }}" style="height: 40px;">
					  		</div>
					  		<div style="width: 65%;  float: left">
						  		<h3>
						  			{{ player_formation.player }}
								</h3>
								<span>{{ player_formation.position }}</span>
							</div>
							<span class="badge badge-primary badge-pill" style="width: 15%;">{{ best_score.goals }}</span>							
				  	</li>
					{% endfor %}
					
				</ul>
				</div>
			</div>								
		</div>
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>			
		  <div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Nº DE JOGADORES POR POSIÇÃO</h2>		    	
			    </div>	
			    {% for player_per_poisition in player_per_poisition %}
	   			<div class="card" style="width: 24%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
					<div style="text-align: center;">
						<img src="/static/position/position-goalkepper.png" style="height: 40px; margin-top: 10%">
					</div>							
			  		<div class="card-body">
				   		<h3 class="card-title">Goleiros</h3>
						<h4 class="card-text">{{player_per_poisition.goleiros}}</h4>
					</div>
				</div>	
	   			<div class="card" style="width: 24%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
					<div style="text-align: center;">
						<img src="/static/position/position-defender.png" style="height: 40px; margin-top: 10%">
					</div>							
			  		<div class="card-body">
				   		<h3 class="card-title">Defensores</h3>
						<h4 class="card-text">{{player_per_poisition.defensores}}</h4>
					</div>
				</div>	
	   			<div class="card" style="width: 24%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
					<div style="text-align: center;">
						<img src="/static/position/position-midfield.png" style="height: 40px; margin-top: 10%">
					</div>							
			  		<div class="card-body">
				   		<h3 class="card-title">Meias</h3>
						<h4 class="card-text">{{player_per_poisition.meias}}</h4>
					</div>
				</div>	
	   			<div class="card" style="width: 24%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
					<div style="text-align: center;">
						<img src="/static/position/position-Attacker.png" style="height: 40px; margin-top: 10%">
					</div>							
			  		<div class="card-body">
				   		<h3 class="card-title">Atacantes</h3>
						<h4 class="card-text">{{player_per_poisition.atacantes}}</h4>
					</div>
				</div>	
				{% endfor %}												
		  	</div>
		  </div>

<div style="margin-top: 2%; margin-bottom: 2%;"></div>			
			<div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Artilheiros do Time</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for best_score in best_score %}
				  	<li class="list-group-item player-name">
					  		<div style="width: 20%;  height: 100%; float: left">
					  			<img src="{{ best_score.photo }}" style="height: 40px;">
					  		</div>
					  		<div style="width: 65%;  float: left">
						  		<h3>
						  			{{ best_score.player }}
								</h3>
								<span>{{ best_score.position }}</span>
							</div>
							<span class="badge badge-primary badge-pill" style="width: 15%;">{{ best_score.goals }}</span>							
				  	</li>
					{% endfor %}
				</ul>
		    </div>				
			<div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Mais Jogaram</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for more_played in more_played %}
				  	<li class="list-group-item player-name">
					  		<div style="width: 20%; height: 100%; float: left">
					  			<img src="{{ more_played.photo }}" style="height: 40px;">
					  		</div>
					  		<div style="width: 65%; float: left">
						  		<h3>
						  			{{ more_played.player }}
								</h3>
								<span>{{ more_played.position }}</span>
							</div>
						<span class="badge badge-primary badge-pill" style="width: 15%;">{{ more_played.goals }}</span>							
				  	</li>
					{% endfor %}
				</ul>
		   	</div>
		    	<div class="col-sm">
		    		<div class="cabecalhos">
				    	<h2>Mais Cartões</h2>		    		
				    </div>
			      	<ul class="list-group">
			     		{% for more_violent in more_violent %}
					  	<li class="list-group-item player-name">
					  		<div style="width: 20%; height: 100%; float: left">
					  			<img src="{{ more_violent.photo }}" style="height: 40px;">
					  		</div>
					  		<div style="width: 65%; float: left">
						  		<h3>
						  			{{ more_violent.player }}
								</h3>
								<span>{{ more_violent.position }}</span>
							</div>
							<span class="badge badge-primary badge-pill" style="width: 15%;">{{ more_violent.goals }}</span>
					  	</li>
						{% endfor %}
					</ul>
		   		</div>		   	
		  </div>
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>			  
		  <div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>TOP Score</h2>		    	
			    </div>
		      	<ul class="list-group">
		     		{% for top_scores in top_scores %}
				  	<li class="list-group-item d-flex justify-content-between align-items-center">
				  		{{ top_scores.player }}
				  		<span class="badge badge-primary badge-pill">{{ top_scores.score }}</span>
				  	</li>
					{% endfor %}
				</ul>
		    </div>
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>Score Por Area</h2>		    	
			    </div>
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{graph_data|safe}} style="max-height: 500px; " />
						</div>
					</div>
		    </div>		    
		  </div>
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>					  
		  <div class="row">
		    	<div class="col-sm" style="text-align: center">
		    		<div class="cabecalhos">
			      		<h2>Vitórias e Derrotas</h2>	
			      	</div>
			      	<div style="height: 478px; background-color: #FFF; border: 1px solid #f7f3f3;" >
				      	<div id="canvas-holder" style="width: 62%;text-align: center;margin-left: 20%;">		      		
					     	<canvas id="pie-chart" height="350"></canvas>	    		
					    </div>
				    </div>
		   		</div>
		    	<div class="col-sm">
		    		<div class="cabecalhos">
			      		<h2> Dentro e Fora de Casa</h2>		    		
			      	</div>

		    			<div class="card" style="width: 32%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
							<div style="text-align: center;">
			 	  				<img src="/static/icon/victory.png" style="height: 40px; margin-top: 10%">
				  			</div>							
					  		<div class="card-body">
					    		<h3 class="card-title">Rate Vitórias</h3>
					    		<h4 class="card-text">{{rate_win}}</h4>
					  		</div>
						</div>	


		    			<div class="card" style="width: 32%; text-align: center; float: left;  margin-top: 15px; margin-right: 10px;     height: 180px;">
							<div style="text-align: center;">
			 	  				<img src="/static/icon/defeat.png" style="height: 40px; margin-top: 10%">
				  			</div>							
					  		<div class="card-body">
					    		<h3 class="card-title">Rate Derrotas</h3>
					    		<h4 class="card-text">{{rate_defeat}}</h4>
					  		</div>
						</div>	


		    			<div class="card" style="width: 32%; text-align: center;     margin-bottom: 15px;     margin-top: 15px; margin-right: 10px;     height: 180px;">
							<div style="text-align: center;">
			 	  				<img src="/static/icon/tie.png" style="height: 40px; margin-top: 10%">
				  			</div>							
					  		<div class="card-body">
					    		<h3 class="card-title">Rate Empates</h3>
					    		<h4 class="card-text">{{rate_tie}}</h4>
					  		</div>
						</div>	

		    		<div>
				     	<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
						    Vitórias Dentro
						    <span class="badge badge-primary badge-pill">{{club_n_win_in}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						     Vitórias Fora
						    <span class="badge badge-primary badge-pill">{{club_n_win_out}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Derrotas Dentro
						    <span class="badge badge-primary badge-pill">{{club_n_defeat_in}}</span>
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center">
						    Derrotas Fora
						    <span class="badge badge-primary badge-pill">{{club_n_defeat_out}}</span>
						  </li>
						</ul>
					</div>
		   		</div>	    
		  </div>		  
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>					  
		  <div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>PRÓXIMOS JOGOS</h2>		    	
			    </div>
		    		<div>
				     	<ul class="list-group">
				     		{% for club_next_games in club_next_games %}
						  	<li class="list-group-item d-flex justify-content-between align-items-center">
						  		<div style="width: 30%; text-align: center;">{{ club_next_games.data }}</div>
						  		<div style="width: 30%; text-align: center;">{{ club_next_games.home }}</div>
						  		<div style="width: 10%; text-align: center;">{{ club_next_games.placar }}</div>
						  		<div style="width: 30%; text-align: center;">{{ club_next_games.away }}</div>						  		
						  	</li>
							{% endfor %}
						</ul>
					</div>
		    </div>
		    <div class="col-sm">
				<div class="cabecalhos">
			    	<h2>Histórico de Confrontos</h2>		    	
			    </div>
		    		<div>
				     	<ul class="list-group">
				     		{% for club_last_games in club_last_games %}
						  	<li class="list-group-item d-flex justify-content-between align-items-center">
							  		<div style="width: 30%; text-align: center;">{{ club_last_games.data }}</div>
							  		<div style="width: 30%; text-align: center;">{{ club_last_games.home }}</div>
							  		<div style="width: 10%; text-align: center;">{{ club_last_games.placar }}</div>
							  		<div style="width: 30%; text-align: center;">{{ club_last_games.away }}</div>						  		
						  	</li>
							{% endfor %}
						</ul>
					</div>
		    </div>		    
		  </div>	
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>				  
		  <div class="row">
		    <div class="col-sm">
		    	<div class="cabecalhos">
			    	<h2>JOGADORES DO ELENCO</h2>		    	
			    </div>
				    <ul class="pagination2">
		     		{% for all_players in all_players %}
				  	<li class="list-group-item player-name">
					  		<div style="width: 10%;  height: 100%; float: left">
					  			<img src="{{ all_players.photo }}" style="height: 40px;">
					  		</div>
					  		<div style="width: 65%;  float: left">
						  		<h3>
						  			<a href="http://127.0.0.1:5000/player/{{ all_players.player }}">{{ all_players.player }}</a>
								</h3>
								<span>{{ all_players.position }}</span>
							</div>
												
				  	</li>
					{% endfor %}
					</ul>
			 </div>
		</div>
		</div>
<div style=" margin-top: 2%; margin-bottom: 2%;"></div>					
		<div class="container-fluid" style="background-color: #5ea052 ; padding: 50px; border-top: 4px solid #efefef;  height: 280px;">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-2">
				{% for arr_clubs_name1 in arr_clubs_name1 %}
				<li style="list-style: none; text-transform: uppercase;">
					<a href="/club/{{ arr_clubs_name1 }}" style="color: #ffffff;">{{ arr_clubs_name1 }}</a>
				</li>
				{% endfor %}					
				</div>
				<div class="col-sm-2">
				{% for arr_clubs_name2 in arr_clubs_name2 %}
				<li style="list-style: none; text-transform: uppercase;">
					<a href="/club/{{ arr_clubs_name2 }}" style="color: #ffffff;">{{ arr_clubs_name2 }}</a>
				</li>
				{% endfor %}				
				</div>
				<div class="col-sm-2">
				{% for arr_clubs_name3 in arr_clubs_name3 %}
				<li style="list-style: none; text-transform: uppercase;">
					<a href="/club/{{ arr_clubs_name3 }}" style="color: #ffffff;">{{ arr_clubs_name3 }}</a>
				</li>
				{% endfor %}					
				</div>
				<div class="col-sm-2">
				{% for arr_clubs_name4 in arr_clubs_name4 %}
				<li style="list-style: none; text-transform: uppercase;">
					<a href="/club/{{ arr_clubs_name4 }}" style="color: #ffffff;">{{ arr_clubs_name4 }}</a>
				</li>
				{% endfor %}					
				</div>
				<div class="col-sm-2"></div>
			</div>
<div style="border: 0.5px solid #a9a9a9; margin-top: 1%; margin-bottom: 1%;"></div>				
			<div class="row" style="text-align: center">
				<div  style="width: 100%; color: #FFF">
					The Football Facts - 2018
				</div>
			</div>
		</div>		
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script type="text/javascript">
		new Chart(document.getElementById("pie-chart"), {
		    type: 'pie',
		    data: {
		      labels: ["Vitórias", "Derrotas", "Empates"],
		      datasets: [{
		        label: "Partidas (Unitario)",
		        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
		        data: [{{club_n_win}},{{club_n_defeat}},{{club_n_tie}}]
		      }]
		    },
		    options: {
		      title: {
		        display: true,
		        text: 'Cameponato Brasileiro de 2018'
		      }
		    }
		});
	</script>
	<script type="text/javascript">
	new Chart(document.getElementById("line-chart"), {
	  type: 'line',
	  data: {
	    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
	    datasets: [{ 
	        data: [86,114,106,106,107,111,133,221,783,2478],
	        label: "Africa",
	        borderColor: "#3e95cd",
	        fill: false
	      }, { 
	        data: [282,350,411,502,635,809,947,1402,3700,5267],
	        label: "Asia",
	        borderColor: "#8e5ea2",
	        fill: false
	      }, { 
	        data: [168,170,178,190,203,276,408,547,675,734],
	        label: "Europe",
	        borderColor: "#3cba9f",
	        fill: false
	      }, { 
	        data: [40,20,10,16,24,38,74,167,508,784],
	        label: "Latin America",
	        borderColor: "#e8c3b9",
	        fill: false
	      }, { 
	        data: [6,3,2,2,7,26,82,172,312,433],
	        label: "North America",
	        borderColor: "#c45850",
	        fill: false
	      }
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'World population per region (in millions)'
	    }
	  }
	});		
	</script>
	<script type="text/javascript">
		// Bar chart
		new Chart(document.getElementById("bar-chart"), {
		    type: 'bar',
		    data: {
		      labels: ["Forward", "Midfielder", "Defender", "Goalkeeper"],
		      datasets: [
		        {
		          label: "Dados Até a Última Rodada",
		          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
		          data: [{{score_forward}},{{score_midfielder}},{{score_defender}},{{score_goalkeeper}}
		          ]
		        }
		      ]
		    },
		    options: {
		      legend: { display: false },
		      title: {
		        display: true,
		        text: 'Dados Até a Última Rodada'
		      }
		    }
});
	</script>
	</body>
</html>