<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.com/libraries/Chart.js">

		<link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="shortcut icon" href="caminhodoarquivo/favicon.ico" />
		<link rel="shortcut icon" href="{{p_photo}}" />
		<title>Player {{player_name}} | The Football Facts</title>
	</head>
	<body style="background-color: #f9f9f9; font-family: roboto;">

		<!-- Menu superior -->
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-blue border-bottom box-shadow">
    		<h5 class="my-0 mr-md-auto font-weight-normal">The Football Facts</h5>
		     <nav class="my-2 my-md-0 mr-md-3">
		     	<a class="p-2 text-dark" href="#">Clubes</a>
		        <a class="p-2 text-dark" href="#">Jogadores</a>
		        <a class="p-2 text-dark" href="#">Campeonatos</a>
		        <a class="p-2 text-dark" href="#">Comprativo</a>
		     </nav>
    	</div>

		<div class="container-fluid" style="background-color: #fff; padding: 50px; border-bottom: 4px solid #efefef; height: 240px;">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-2" style="text-align: center">
					<img src="{{p_photo}}" style="width: 170px;">
				</div>
				<div class="col-3">
					<h1>{{player_name}}</h1>
					<p>Posição: {{player_position}}</p>
				</div>
				<div class="col-3">
					<p class="line-divider"><span class="bold-title">Perna Principal: </span>{{foot}}</p>
					<p class="line-divider"><span class="bold-title">Idade: </span>{{player_age}}</p>
					<p class="line-divider last-divider"><span class="bold-title">Cidade/País: </span> {{player_nacionality}}</p>
				</div>				
			</div>
		</div>
<div style="border: 1px solid #f9f9f9; margin-top: 3%; "></div>
			<div class="container">
			<div class="row">
				<div class="col-sm" style="text-align: center">
					<img src="/static/utils/banner-720x90.png">
				</div>
			</div>
		</div>
<div style="border: 1px solid #f9f9f9; margin-top: 2%; margin-bottom: 2%;"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3" >
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/goal.png" style="height: 100%; margin-top: 10%">
				  		</div>			
					  <div class="card-body">
					    <h3 class="card-title">Gols Marcados</h3>
					    <h4 class="card-text">{{player_goal}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/assistence.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Tempo Jogado </h3>
					    <h4 class="card-text">{{player_time_played}}</h4>
					  </div>
					</div>					
				</div>
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/yellow-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Amarelos</h3>
					    <h4 class="card-text">{{player_yellow_card}}</h4>
					  </div>
					</div>					
				</div>		
				<div class="col-sm-3">
					<div class="card" style="width: 17rem; text-align: center;">
						<div style="text-align: center;">
			 	  			<img src="/static/icon/red-card.png" style="height: 100%; margin-top: 10%">
				  		</div>							
					  <div class="card-body">
					    <h3 class="card-title">Cartões Vermelhos</h3>
					    <h4 class="card-text">{{player_red_card}}</h4>
					  </div>
					</div>					
				</div>					
			</div>
			<div style="border: 1px solid #f9f9f9; margin-top: 5%; margin-bottom: 2%;"></div>
			<div class="row">
				<div class="col-sm-6">
					<div class="cabecalhos cabecalho-jogador">
			      		<h2>Gols na Carreira</h2>
			      	</div>
					<!-- Don't forget the "|safe"! -->
					<div class="list-group-item" style="padding: 20px; background-color: #fff">
						<div id="chart">
						   <embed type="image/svg+xml" src= {{graph_data|safe}} style="max-height: 500px; " />
						</div>
					</div>			
				</div>
				<div class="col-sm">
					<div class="cabecalhos cabecalho-jogador">
			      		<h2>Posição de Atuação</h2>
			      	</div>	
			      	<div class="list-group-item" style="padding: 20px; background-color: #fff; text-align: center;">				
			      		<img src="/static/position/posicao-{{player_position}}.png" style="width: 73%">
			      	</div>
				</div>
			</div>
<div style="margin-top: 2%; margin-bottom: 2%;"></div>					
          <div style="border: 1px solid #F8F8F8"></div>
			<div class="row" style="text-align: center">
		    	<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>SCOUTS DESSE ANO</h2>
			      	</div>
			     	<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
					    Gols no Ano
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_goal}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    Amarelo no Ano
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_yellow_card}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					   Vermelho no Ano
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_red_card}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    Titular no Ano
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_titular_year}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    Tempo jogado no Ano
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_time_played}}</span>
					  </li>				 
					</ul>
		   		</div>
		    	<div class="col-sm">
		    		<div class="cabecalhos cabecalho-jogador">
			      		<h2>SCOUTS DA CARREIRA</h2>	    		
			      	</div>
			     	<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
					    Gols na Carreira
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_goal_career}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    Amarelo na Carreira
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_yellow_card_career}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					   Vermelho na Carreira
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_red_card_career}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    Titular na Carreira
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_titular_year_career}}</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    Tempo jogado na Carreira
					    <span class="badge badge-primary badge-primary-player badge-pill">{{player_time_played_career}}</span>
					  </li>				 
					</ul>
		   		</div>
		    <div class="col-sm">
		    	<div class="cabecalhos cabecalho-jogador">
			    	<h2>ÚLTIMAS EQUIPES QUE ATUOU</h2>	    		
			    </div>		    	
		      	<ul class="list-group">
		      	{% for club_played in club_played %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					{{ club_played.club }}
					<span class="badge badge-primary badge-primary-player badge-pill">{{ club_played.year }}</span>
				</li>
				{% endfor %}

				</ul>
		    </div>
		  </div>
<div style="margin-top: 2%; margin-bottom: 2%;"></div>					
		  <div class="row">
		  	<div class="col-sm">
				<div class="cabecalhos cabecalho-jogador">
			    	<h2>RADAR DE SKILLS</h2>	    		
			    </div>
				<!-- Don't forget the "|safe"! -->
				<div class="list-group-item" style="padding: 20px; background-color: #fff">
					<div id="chart">
					   <embed type="image/svg+xml" src= {{radar_player|safe}} style="max-height: 500px; " />
					</div>
				</div>			  		    
		    </div>
		    <div class="col-sm">
				<div class="cabecalhos cabecalho-jogador">
			    	<h2>TÍTULAR VS SUBSTITUÍDO</h2>	    		
			    </div>
				<!-- Don't forget the "|safe"! -->
				<div class="list-group-item" style="padding: 20px; background-color: #fff">
					<div id="chart">
					   <embed type="image/svg+xml" src= {{pie_chart|safe}} style="max-height: 500px; " />
					</div>
				</div>	
		    </div>
		  </div>
<div style="margin-top: 2%; margin-bottom: 2%;"></div>					
		  <div class="row">
		  	<div class="col-sm">
				<div class="cabecalhos cabecalho-jogador">
			    	<h2>TEMPO JOGADO POR ANO</h2>	    		
			    </div>
				<!-- Don't forget the "|safe"! -->
				<div class="list-group-item" style="padding: 20px; background-color: #fff">
					<div id="chart">
					   <embed type="image/svg+xml" src= {{line_chart|safe}} style="max-height: 500px; " />
					</div>
				</div>			  		    
		    </div>		
		  	<div class="col-sm">
				<div class="cabecalhos cabecalho-jogador">
			    	<h2>CORRELAÇÃO ANO VS TEMPO JOGADO</h2>	    		
			    </div>
				<!-- Don't forget the "|safe"! -->
				<div class="list-group-item" style="padding: 20px; background-color: #fff">
					<div id="chart">
					   <embed type="image/svg+xml" src= {{xy_chart|safe}} style="max-height: 500px; " />
					</div>
				</div>				    
			 </div>		    
		   </div>  
		</div>
<div style=" margin-top: 2%; margin-bottom: 2%;"></div>					
		<div class="container-fluid" style="background-color: #5283a0 ; padding: 50px; border-top: 4px solid #3c6984;  height: 280px;">
			<div class="row">
			</div>		
		<div style="border: 0.5px solid #a9a9a9; margin-top: 1%; margin-bottom: 1%;"></div>				
			<div class="row" style="text-align: center">
				<div  style="width: 100%; color: #FFF">
					The Football Facts - 2018
				</div>
			</div>
		</div>	
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	</body>
</html>